/* .one {
  display: "flex";
  flex-direction: row;
  background-color: "#343a40";
  width: "100%";
  height: "400px";
} */

.color{
  color: rgba(117, 114, 114, 0.966);
}

/* #im{background-image: url('../../uploads/bi-directional.PNG');} */


/* #my{
  width: 10px;
  height: 10px;
  background-image: url('../../../../Desktop/DBMS/uploads/default.PNG');
} */